p#pogrubienie_maksymiuk
{
  font-size: 34px;
  color: 9A62CB;
}
p#pchylona_maksymiuk
{
font-size: 39pt;
  color: FEC667;
}
p#index_grny_maksymiuk
{
font-size: 0.59cm;
  color: AE9417;
}
p#index_dolny_maksymiuk
{
  font-size: 0.518cm;
    color: 29%,97%,87%;
}
